<!DOCTYPE html>
<html>
  <head>
    <!-- Gọi tệp head.html -->
    <link rel="import" href="components/header.html" />
    <!-- Tailwind -->
    <script src="https://cdn-tailwindcss.vercel.app/"></script>

    <link href="./css/tailwind.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      .header {
        background-image: url("../img/header.gif");
        background-repeat: no-repeat;
        background-size: cover;
      }
      .header:hover a {
        height: 100%; /* Đặt chiều cao của <a> bằng với chiều cao của <nav> */
      }
      /* Đổi màu chữ thành trắng */
      .navbar-text {
        color: white;
      }

      /* Add any additional styles as needed */
    </style>
  </head>
  <script>
    var navItems = document.getElementById("home");

    function adjustNavbar() {
      screenWidth = parseInt(window.innerWidth);

      if (screenWidth < 541) {
        navItems.style.display = "none";
        hamburger.style.display = "flex";
      } else {
        navItems.style.display = "flex";
        hamburger.style.display = "none";
      }
    }

    adjustNavbar();

    window.addEventListener("resize", adjustNavbar);

    hamburger.addEventListener("click", function () {
      mobileNav.classList.toggle("left-[-70%]");
      hamburger.classList.toggle("fa-bars");
      hamburger.classList.toggle("fa-close");
    });
  </script>
  <body class="w-[1500] block overflow-x-hidden mx-auto">
    <!-- header -->
    <nav class="header leading-6 h-full">
      <div class="flex p-1">
        <!-- logo -->
        <a href="homepage.jsp" class="flex items-center justify-center w-1/2">
          <div class="">
            <img src="img/logo2.png" class="h-20 text-xl" alt="Logo" />
          </div>
          <span
            class="self-center text-4xl font-extralight whitespace-nowrap dark:text-white"
            >Wild World Zoo</span
          >
        </a>
        <!-- end logo -->
        <!-- navbar -->
        <div
          class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 w-full"
          id="navbar-user"
        >
          <ul
            class="flex flex-col mt-4 borderrounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0"
          >
            <li>
              <div id="home">
                <a
                  href="homepage.jsp"
                  class="navbar-text block text-white py-4 pl-4 text-3xl text-gray-900 rounded relative h-full w-28"
                  aria-current="page"
                  ><span class="group">
                    HOME
                    <div
                      class="w-0 group-hover:w-full h-0.5 bg-white ease-in-out duration-500"
                    ></div> </span
                ></a>
              </div>
            </li>
            <li>
              <div id="home">
                <a
                  href="about.jsp"
                  class="navbar-text block text-white py-4 pl-2 text-3xl text-gray-900 rounded"
                  ><span class="group">
                    ABOUT
                    <div
                      class="w-0 group-hover:w-full h-0.5 bg-white ease-in-out duration-500"
                    ></div> </span
                ></a>
              </div>
            </li>
            <li>
              <div id="home">
                <a
                  href="animalcontroller"
                  class="navbar-text block text-white py-4 pr-2 pl-2 text-3xl text-gray-900 rounded"
                  ><span class="group">
                    ANIMAL
                    <div
                      class="w-0 group-hover:w-full h-0.5 bg-white ease-in-out duration-500"
                    ></div> </span
                ></a>
              </div>
            </li>
            <li>
              <div id="home">
                <a
                  href="news.jsp"
                  class="navbar-text block text-white py-4 pl-4 text-3xl text-gray-900 rounded"
                  ><span class="group">
                    NEWS
                    <div
                      class="w-0 group-hover:w-full h-0.5 bg-white ease-in-out duration-500"
                    ></div> </span
                ></a>
              </div>
            </li>
            <li>
              <div id="home">
                <a
                  href="Map.jsp"
                  class="navbar-text block text-white py-4 pl-6 text-3xl text-gray-900 rounded"
                  ><span class="group">
                    MAP
                    <div
                      class="w-0 group-hover:w-full h-0.5 bg-white ease-in-out duration-500"
                    ></div> </span
                ></a>
              </div>
            </li>
          </ul>
        </div>
        <!-- end navbar -->
      </div>
    </nav>
    <!-- end header -->
  </body>
</html>
