.hidden-iframe {
  opacity: 0;
}
.fade-in-right {
  animation: fadeInRight 0.5s;
}

.fade-out {
  animation: fadeOut 0.5s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
.hidden-iframe {
  opacity: 0;
}

.custom-bg {
  /* Đường dẫn của hình ảnh nền */
  background-image: url("img/checkoutbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: green;
}
[x-cloak] {
  display: none;
}
