<%-- 
    Document   : ticket
    Created on : Oct 9, 2023, 1:18:34 PM
    Author     : ACER
--%>

<%@page import="sample.ticket.TicketDTO"%>
<%@page import="java.util.List"%>
<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <!-- Tailwind -->
    <script src="https://cdn-tailwindcss.vercel.app/"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css"
      rel="stylesheet"
    />
    <link href="./css/tailwind.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"
      defer
    ></script>
    <script
      src="https://kit.fontawesome.com/5b0b34b925.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
        <title>Ticket</title>
    </head>
    <body >
<main action="TicketController">
        <a href="TicketController?action=View_order"><h1>view_order</h1></a>
        <% List<TicketDTO> listTicket = (List<TicketDTO>) session.getAttribute("LIST_TICKET"); 
            if (listTicket != null && listTicket.size() > 0) { %>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Price Main</th>

            </tr>
            <%
                for (TicketDTO ticket : listTicket) {
            %>
            <tr>
                <td><%= ticket.getTicket_ID()%> </td>
                <td><%= ticket.getTicket_Name()%> </td>
                <td><%= ticket.getPrice()%> </td>
               
                <form action="TicketController">
               
                     <td><label for="integerInput">DISCOUNT:</label>
                    <input type="number" name="Discount" id="integerInput" value="<%= ticket.getDiscount()%>"
                           required min="0" max="100"><br> 
                </td>
                
                <td> <%= ticket.getPrice_Main()%></td>
                 <td>
                    <input type="hidden" name="ID_Ticket" value="<%= ticket.getTicket_ID()%> "/>
                    <input type="submit" name="action" name="Update_Discount" value="Update_Discount"/>
                </td>
            </form>
        </td>
        </tr>
    <% }
            }%>
            

    <!-- Thêm các dòng dữ liệu khác ở đây -->
</table>
             <%
            String error = (String) request.getAttribute("ERROR");
            if (error == null) {
                error = "";
            }
        %>
       
        <h2><%= error%></h2>
    </main>
</body>
</html>
